* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 420px;
    border-radius: 50%;

    // span {
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     width: 60px;
    //     height: 60px;
    //     transform: translate(-25px, -50%);
    //     background: #800080;
    //     border-radius: 50%;
    // }

    &__outer {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 2px #800080 solid;
        border-radius: 50%;
        animation: circleOuter 60s linear infinite;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 60px;
            height: 60px;
            transform: translate(-25px, -50%);
            background: #800080;
            border-radius: 50%;
        }
    }

    &__middle {
        position: absolute;
        top: 55px;
        left: 55px;
        right: 55px;
        bottom: 55px;
        border: 2px #800080 solid;
        border-radius: 50%;
        animation: circleMiddle 55s linear infinite;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-25px, -50%);
            background: #800080;
            border-radius: 50%;
        }

    }

    &__inner {
        position: absolute;
        top: 110px;
        left: 110px;
        right: 110px;
        bottom: 110px;
        border: 2px #800080 solid;
        border-radius: 50%;
        animation: circleInner 50s linear infinite;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 55px;
            height: 55px;
            transform: translate(-25px, -50%);
            background: #800080;
            border-radius: 50%;
        }
    }

    &__fill {
        position: relative;
        background-image: url(../img/circle-fill.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 110px;
        height: 110px;
        background-color: #800080;
        border-radius: 50%;
        // animation: circle 50s linear infinite reverse;


    }
}

@keyframes circleOuter {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes circleMiddle {
    0% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes circleInner {
    0% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}