* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 420px;
    border-radius: 50%;

    &:hover .circle__outer {
        animation-play-state: paused;
    }

    &:hover .circle__middle {
        animation-play-state: paused;
    }

    &:hover .circle__inner {
        animation-play-state: paused;
    }

    &:hover .circle__fill{
        width: 70px;
        height: 70px;
    }

    &__outer {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-radius: 50%;
        animation: circleOuter 50s linear infinite;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px 0px #005ba1a5,
            inset 0px 0px 5px 0px #005ba1a5;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background: #005aa1;
            background-image: url(../img/gear.png);
            background-position: center;
            background-repeat: no-repeat;
            top: 0;
            left: 50%;
            width: 60px;
            height: 60px;
            transform: translate(-25px, -50%);
            border-radius: 50%;
            border: 2px solid #fff;
            box-shadow: 0px 0px 10px 0px #005aa1;
            cursor: pointer;

            &:hover {
                width: 70px;
                height: 70px;
            }
        }
    }

    &__middle {
        position: absolute;
        top: 55px;
        left: 55px;
        right: 55px;
        bottom: 55px;
        border-radius: 50%;
        animation: circleMiddle 52s linear infinite;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px 0px #005ba1a5,
            inset 0px 0px 5px 0px #005ba1a5;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background: #005aa1;
            background-image: url(../img/mail.png);
            background-position: center;
            background-repeat: no-repeat;
            top: 0;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-25px, -50%);
            border-radius: 50%;
            border: 2px solid #fff;
            box-shadow: 0px 0px 10px 0px #005aa1;
            cursor: pointer;
        }
    }

    &__inner {
        position: absolute;
        top: 110px;
        left: 110px;
        right: 110px;
        bottom: 110px;
        border-radius: 50%;
        animation: circleInner 50s linear infinite;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px 0px #005ba1a5,
            inset 0px 0px 5px 0px #005ba1a5;

        &::before {
            content: '';
            display: block;
            background: #005aa1;
            background-image: url(../img/phone.png);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 50%;
            width: 55px;
            height: 55px;
            transform: translate(-25px, -50%);
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 0px #005aa1;
            cursor: pointer;
        }
    }

    &__fill {
        position: relative;
        background-image: url(../img/circle-fill.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 90px;
        height: 90px;
        background-color: #005aa1;
        border: 0;
        border-radius: 50%;
        animation: circleFill 2s linear infinite;
        transition: .5s;
    }
}

@keyframes circleOuter {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}

@keyframes circleMiddle {
    0% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(-240deg);
    }
}

@keyframes circleInner {
    0% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(-70deg);
    }
}

@keyframes circleFill {
    0% {
        box-shadow: 0px 0px 10px 0px #005aa1;
    }

    50% {
        box-shadow: 0px 0px 20px 5px #005aa1;
    }

    100% {
        box-shadow: 0px 0px 10px 0px #005aa1;
    }
}