* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.circle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 420px;
  height: 420px;
  border-radius: 50%;
}

.circle:hover .circle__outer {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.circle:hover .circle__middle {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.circle:hover .circle__inner {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.circle:hover .circle__fill {
  width: 70px;
  height: 70px;
}

.circle__outer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  -webkit-animation: circleOuter 50s linear infinite;
          animation: circleOuter 50s linear infinite;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #005ba1a5, inset 0px 0px 5px 0px #005ba1a5;
          box-shadow: 0px 0px 5px 0px #005ba1a5, inset 0px 0px 5px 0px #005ba1a5;
}

.circle__outer::before {
  content: '';
  display: block;
  position: absolute;
  background: #005aa1;
  background-image: url(../img/gear.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-25px, -50%);
          transform: translate(-25px, -50%);
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #005aa1;
          box-shadow: 0px 0px 10px 0px #005aa1;
  cursor: pointer;
}

.circle__outer::before:hover {
  width: 70px;
  height: 70px;
}

.circle__middle {
  position: absolute;
  top: 55px;
  left: 55px;
  right: 55px;
  bottom: 55px;
  border-radius: 50%;
  -webkit-animation: circleMiddle 52s linear infinite;
          animation: circleMiddle 52s linear infinite;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #005ba1a5, inset 0px 0px 5px 0px #005ba1a5;
          box-shadow: 0px 0px 5px 0px #005ba1a5, inset 0px 0px 5px 0px #005ba1a5;
}

.circle__middle::before {
  content: '';
  display: block;
  position: absolute;
  background: #005aa1;
  background-image: url(../img/mail.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-25px, -50%);
          transform: translate(-25px, -50%);
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #005aa1;
          box-shadow: 0px 0px 10px 0px #005aa1;
  cursor: pointer;
}

.circle__inner {
  position: absolute;
  top: 110px;
  left: 110px;
  right: 110px;
  bottom: 110px;
  border-radius: 50%;
  -webkit-animation: circleInner 50s linear infinite;
          animation: circleInner 50s linear infinite;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #005ba1a5, inset 0px 0px 5px 0px #005ba1a5;
          box-shadow: 0px 0px 5px 0px #005ba1a5, inset 0px 0px 5px 0px #005ba1a5;
}

.circle__inner::before {
  content: '';
  display: block;
  background: #005aa1;
  background-image: url(../img/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  width: 55px;
  height: 55px;
  -webkit-transform: translate(-25px, -50%);
          transform: translate(-25px, -50%);
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px #005aa1;
          box-shadow: 0px 0px 10px 0px #005aa1;
  cursor: pointer;
}

.circle__fill {
  position: relative;
  background-image: url(../img/circle-fill.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90px;
  height: 90px;
  background-color: #005aa1;
  border: 0;
  border-radius: 50%;
  -webkit-animation: circleFill 2s linear infinite;
          animation: circleFill 2s linear infinite;
  -webkit-transition: .5s;
  transition: .5s;
}

@-webkit-keyframes circleOuter {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
}

@keyframes circleOuter {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
}

@-webkit-keyframes circleMiddle {
  0% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  100% {
    -webkit-transform: rotate(-240deg);
            transform: rotate(-240deg);
  }
}

@keyframes circleMiddle {
  0% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  100% {
    -webkit-transform: rotate(-240deg);
            transform: rotate(-240deg);
  }
}

@-webkit-keyframes circleInner {
  0% {
    -webkit-transform: rotate(290deg);
            transform: rotate(290deg);
  }
  100% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
}

@keyframes circleInner {
  0% {
    -webkit-transform: rotate(290deg);
            transform: rotate(290deg);
  }
  100% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
}

@-webkit-keyframes circleFill {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px #005aa1;
            box-shadow: 0px 0px 10px 0px #005aa1;
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 5px #005aa1;
            box-shadow: 0px 0px 20px 5px #005aa1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px #005aa1;
            box-shadow: 0px 0px 10px 0px #005aa1;
  }
}

@keyframes circleFill {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px #005aa1;
            box-shadow: 0px 0px 10px 0px #005aa1;
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 5px #005aa1;
            box-shadow: 0px 0px 20px 5px #005aa1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px #005aa1;
            box-shadow: 0px 0px 10px 0px #005aa1;
  }
}
/*# sourceMappingURL=style.css.map */