* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.circle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 420px;
  height: 420px;
  border: 2px black solid;
  border-radius: 50%;
  -webkit-animation: circle 60s linear infinite;
          animation: circle 60s linear infinite;
}

.circle span {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-25px, -50%);
          transform: translate(-25px, -50%);
  background: red;
  border-radius: 50%;
}

.circle__middle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 310px;
  border: 2px black solid;
  border-radius: 50%;
  -webkit-animation: circle 55s linear infinite;
          animation: circle 55s linear infinite;
}

.circle__middle span {
  width: 50px;
  height: 50px;
}

.circle__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  border: 2px black solid;
  border-radius: 50%;
  -webkit-animation: circle 50s linear infinite;
          animation: circle 50s linear infinite;
}

.circle__inner span {
  width: 55px;
  height: 55px;
}

.circle__fill {
  width: 110px;
  height: 110px;
  background-color: #000;
  border-radius: 50%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */